﻿<div style="
	font-family: 'Apple SD Gothic Neo', 'sans-serif' !important;
	width: 540px;
	height: 600px;
	border-top: 4px solid #2693F5;
	margin: 100px auto;
	padding: 40px 20px;
	box-sizing: border-box;
">
	<h1 style="color: #777777; margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
		<span style="
			color: #131313;
			font-size: 3.8rem;
			text-shadow: #13131355 1px 1px 3px;">Thinkhub</span>
		<br />
		<span style="color: #2693F5;">메일인증</span><span> 안내입니다.</span>
	</h1>
	<p style="color: #777777; font-size: 1.0rem; line-height: 26px; margin-top: 50px; padding: 0 5px;">
		안녕하세요 <b id="username">Administrator</b> 님!<br />
		Thinkhub을 이용해주셔서 감사합니다.<br />
		아래 <b style="font-size: 1.0rem; font-weight: bold; color: #2693F5;">'메일인증'</b>
		버튼을 클릭하여<br />
		메일 인증을 진행해 주세요.<br />
		감사합니다.
	</p>
	<a id="link1" href="#" target="_blank" style="
		color: #FFFFFF;
		text-decoration: none;
		text-align: center;
	">
		<p style="
			display: inline-block;
			width: 210px;
			height: 45px;
			margin: 30px 5px 40px;
			background: #2693F5;
			line-height: 45px;
			vertical-align: middle;
			font-weight: bold;
			letter-spacing: 1px;
			font-size: 16px;
			border-radius: 15px 15px;
			box-shadow: #13131355 1px 1px 3px;
		">메일인증</p>
	</a>
	<div style="border-top: 1px solid #777777; padding: 5px;">
		<p style="font-size: 13px; line-height: 21px; color: #777777;">
			만약 버튼이 정상적으로 클릭되지 않는다면, 아래의 링크로 접속해 주세요.<br />
			<a id="link2" href="#"></a>
		</p>
	</div>
</div>