<div style="
	font-family: 'Apple SD Gothic Neo', 'sans-serif' !important;
	width: 540px;
	height: 600px;
	border-top: 4px solid #2693F5;
	margin: 100px auto;
	padding: 40px 20px;
	box-sizing: border-box;
">
	<h1 style="color: #777777; margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
		<span style="
			color: #131313;
			font-size: 3.8rem;
			text-shadow: #13131355 1px 1px 3px;">Thinkhub</span>
		<br />
		<span style="color: #2693F5;">임시 비밀번호</span> 안내입니다.
	</h1>
	<p style="color: #777777; font-size: 1.0rem; line-height: 26px; margin-top: 50px; padding: 0 5px;">
		안녕하세요 <b id="username">Administrator</b> 님!<br />
		요청하신 임시 비밀번호가 생성되었습니다.<br />
		아래 <b style="font-size: 1.0rem; font-weight: bold; color: #2693F5;">'임시 비밀번호'</b>
		를 이용하여 로그인해주세요.<br />
		감사합니다.
	</p>
	<p style="font-size: 1.2rem; font-weight: bold; color: #131313;">
		임시 비밀번호: <br />
		<span id="password" style="font-size: 40px; color: #2693F5;">asdf1234asdf1234</span>
	</p>
</div>