﻿@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

#LoginForm
{
	position: fixed;
	order: 1;
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 80%;
	height: 80%;
	min-width: 320px;
	min-height: 320px;
	max-width: 480px;
	max-height: 480px;
	padding: 20px;
	border-radius: 30px 30px;
	background: #FCFCFC;
	-webkit-box-shadow: 3px 3px 10px #13131355;
	-moz-box-shadow: 3px 3px 10px #13131355;
	box-shadow: 3px 3px 10px rgba(19, 19, 19, 0.33);
	overflow-y: auto;
}

#Curtain
{
	display: none;
	z-index: 4;
	position: fixed;
	order: 1;
	padding: 20px;
	width: 100%;
	background: rgba(18, 18, 18, 0.73);
	overflow: hidden;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#Loading
{
	display: none;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
#loading-icon
{
	font-size: 10.0rem;
	color: #0597F2;
	margin-bottom: 30px;
}
#loading-message
{
	font-size: 1.5rem;
	font-family: 'Nanum Gothic', sans-serif;
	color: #FCFCFC;
	white-space: nowrap;
}

#LoginForm::-webkit-scrollbar
{
	width: 0%;
}
#LoginForm::before, #LoginForm::after
{
	content: '';
	flex: 1;
}
#LoginForm > .form-group
{
	width: 100%;
}
.form-group label
{
	margin-bottom: 5px;
}
.form-group .form-control
{
	height: 40px;
	border-radius: 15px 15px;
}

.form-link
{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.btn
{
	border-radius: 15px 15px;
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
}
.btn:disabled
{
	background: #CCCCCC;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	color: #777777;
}
.btn:enabled
{
	background: #0597F2;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #EFEFEF;
	transition: all 0.3s;
}
.btn:enabled:hover
{
	background: #18B6DE;
}