﻿@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

#Curtain
{
	display: none;
	z-index: 4;
	position: fixed;
	order: 1;
	padding: 20px;
	width: 100%;
	background: rgba(18, 18, 18, 0.73);
	overflow: hidden;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
#Loading
{
	display: none;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
#loading-icon
{
	font-size: 10.0rem;
	color: #0597F2;
	margin-bottom: 30px;
}
#loading-message
{
	font-size: 1.5rem;
	font-family: 'Nanum Gothic', sans-serif;
	color: #FCFCFC;
	white-space: nowrap;
}

#PageContainer
{
	z-index: 2;
	position: fixed;
	background: #FCFCFC;
	width: 100%;
	padding: 20px;
	overflow-y: auto;
}
.section
{
	height: 350px;
	padding: 10px;
}
.card-item
{
	width: 100%;
	height: 100%;
	padding: 20px;
	background: #FCFCFC;
	border-radius: 30px;
	-webkit-box-shadow: 3px 3px 10px #13131355;
	-moz-box-shadow: 3px 3px 10px #13131355;
	box-shadow: 3px 3px 10px rgba(19, 19, 19, 0.33);
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	align-items: center;
}
.card-title
{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	color: #0597F2;
}
#ProfileImage
{
	width: 180px;
	height: 180px;
	border: solid #FCFCFC 2px;
	object-fit: cover;
	border-radius: 50%;
	background: #777777;
	-webkit-box-shadow: 3px 3px 10px #13131355;
	-moz-box-shadow: 3px 3px 10px #13131355;
	box-shadow: 3px 3px 10px rgba(19, 19, 19, 0.33);
}
#UserName
{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	color: #0597F2;
	margin: 10px;
}
.form-group
{
	width: 100%;
	margin: 0;
}
.form-group label
{
	margin-bottom: 5px;
}
.form-control
{
	height: 40px;
	border-radius: 15px 15px;
}
.card-btn
{
	border-radius: 15px 15px;
	width: 100%;
	height: 40px;
}
.card-btn:disabled
{
	background: #CCCCCC;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	color: #777777;
}
.card-btn:enabled
{
	background: #0597F2;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #EFEFEF;
	transition: all 0.3s;
}
.card-btn:enabled:hover
{
	background: #18B6DE;
}
.delete-btn:enabled
{
	background: #BF0404;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #EFEFEF;
	transition: all 0.3s;
}
.delete-btn:enabled:hover
{
	background: #DF3434;
}
.form-email
{
	width: 100%;
	height: 40px;
	display: flex;
	flex-flow: row;
}
.email-text
{
	width: 70%;
	margin-right: 5px;
}
.email-btn
{
	width: 30%;
}
.email-check-btn:enabled
{
	background: #F28F05;
}
.email-check-btn:enabled:hover
{
	background: #FFAF10;
}