@{
    ViewData["Title"] = "Home";
}
<div id="Intro1-Service">
	<div class="TintedLayer">
		<p>
			간편해진 파일 관리
		</p>
		<p>
			더 이상 파일을 들고 움직이지 마세요.<br />
			간편해진 파일 저장과 관리<br />
			필요할 때 마다 항상 그 곳에 있습니다.<br />
		</p>
		<button type="button" class="btn btn-lg" onclick="location.href='@Url.Action("Register", "User")'">지금 가입하기</button>
	</div>
</div>
<div id="Intro2-Share">
	<div class="TintedLayer">
		<p>
			친구들과 파일공유
		</p>
		<p>
			친구들과 파일을 공유해보세요.<br />
			링크를 이용한 손쉬운 파일 공유<br />
			원하는 파일을 열어주기만 하면 됩니다.<br />
		</p>
	</div>
</div>
<div id="Intro3-Security">
	<div class="TintedLayer">
		<p>
			안전한 파일저장
		</p>
		<p>
			더 안전하게 파일을 보관하세요.<br />
			종단간 암호화를 통한 파일 저장<br />
			파일을 볼 수 있는건 당신 뿐입니다.<br />
		</p>
	</div>
</div>