﻿.navbar
{
	margin: 0;
	padding: 10px;
}
.navbar-brand
{
	display: flex;
	flex-flow: row;
	align-items: center;
	padding: 0;
	margin: 0;
}
article
{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
footer
{
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 30px;
}
footer div
{
	display: flex;
	margin-bottom: 10px;
	flex-flow: row;
	justify-content: center;
}