@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

body
{
	-ms-overflow-style: none;
}
body::-webkit-scrollbar
{
	width: 0 !important;
}
input, button
{
	font-family: 'Nanum Gothic', sans-serif;
}
.navbar
{
	background: linear-gradient(to right, #2693F5, #18B6DE);
	border-radius: unset;
	border: none;
	box-shadow: 0 3px 5px rgba(19, 19, 19, 0.3);
	-webkit-box-shadow: 0 3px 5px rgba(19, 19, 19, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(19, 19, 19, 0.3);
}
.navbar .navbar-brand, .navbar .nav > .nav-item > .nav-link, .navbar .nav > .nav-item > .nav-link
{
	white-space: nowrap;
	font-family: 'Nanum Gothic', sans-serif;
	transition: all 0.3s;
	color: #FCFCFC;
}
.navbar .navbar-brand:hover
{
	color: #00E0AA;
}
.navbar .nav > .nav-item > .nav-link:hover, .navbar .nav > .nav-item > .nav-link:focus
{
	color: #0070FF;
}
.navbar .navbar-brand img
{
	width: 64px;
	height: 64px;
}
.dropdown-toggle
{
	display: flex;
	flex-flow: row;
	align-items: center;
}
.dropdown-item
{
	height: 40px;
}
.user-name
{
	font-size: 1.2rem;
}
.profile-image
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: solid #FCFCFC 2px;
	object-fit: cover;
	margin-right: 5px;
}
.navbar-text
{
	white-space: nowrap;
	font-family: 'Nanum Gothic', sans-serif;
	color: #FFFFFF;
}
footer
{
	background: #777777;
}
footer .footer-control .btn
{
	margin: 5px;
	border: none;
	background: #CCCCCC;
	font-family: 'Nanum Gothic', sans-serif;
	color: #131313;
}
footer .footer-control .btn:hover, footer .footer-control .btn:focus
{
	background: #FFFFFF;
}
footer p
{
	font-family: 'Nanum Gothic', sans-serif;
	color: #FFFFFF;
}