@{
	ViewData["Title"] = "ForgotPassword";
}

<div id="Curtain">
	<div id="Loading">
		<span id="loading-icon" class="fa fa-circle-notch fa-spin"></span>
		<span id="loading-message">요청을 처리 중입니다.</span>
	</div>
</div>
<form id="ForgotForm">
	<div class="form-group">
		<label>이메일 주소</label>
		<input id="Email" type="text" class="form-control" placeholder="이메일 주소" />
	</div>
	<button id="ResetPassword" type="submit" class="btn" disabled>비밀번호 재설정</button>
</form>